#page-landing {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(329.54deg, #f0daab 0%, #f7ebd1 100%);

  display: flex;
  justify-content: center;
  align-items: center;

  .content-wrapper {
    position: relative;

    width: 80%;
    height: 80%;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;

    background: url("../../images/background.png") no-repeat 100% center;
    background-size: contain;

    main {
      max-width: 358px;

      h1 {
        font-size: 7vh;
        font-weight: 900;
        line-height: 8vh;
      }

      p {
        margin-top: 40px;
        font-size: 3vh;
        line-height: 5vh;
      }
    }

    .location {
      position: absolute;
      right: 0;
      top: 0;

      font-size: 3vh;
      line-height: 5vh;

      display: flex;
      flex-direction: column;

      text-align: right;

      strong {
        font-weight: 800;
      }
    }

    .enter-app {
      position: absolute;
      right: 0;
      bottom: 0;

      width: 10vh;
      height: 10vh;
      background: #7f3d01;
      border-radius: 3.5vh;

      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 0.2s;

      &:hover {
        background: #dead72;
      }
    }
  }
}
